.hero	{
	position: absolute;
	bottom: 50px;
	width: 100px;
	height: 40px;
	left: calc(50% - 50px);
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../images/player.png");
}